/* /////// Responsive Mobile!! //////// */

@media screen and (max-width: 960px) {
  body {
  }

  .header,
  .about,
  .value,
  .photo,
  .contact,
  .footer {
    padding: 0 20px;
  }

  .header .menu a:hover,
  .footer a:hover {
    color: #000;
    text-shadow: none;
  }

  .about {
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center;
  }

  .about .profile {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 24px;
  }

  h1.title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 24px;
  }

  .about .about-desc .about-sub {
    font-size: 16px;
    line-height: 22px;
  }

  .about .about-desc .about-p {
    font-size: 14px;
    line-height: 20px;
  }

  .about .about-desc .about-sub {
    margin-bottom: 20px;
  }

  .about .about-desc .about-sub strong {
    font-weight: 700;
  }

  .about .about-desc .about-p p {
    margin-bottom: 12px;
  }

  /* ---------- values ---------- */

  .value {
    text-align: center;
    margin-bottom: 80px;
  }

  .value .value-cards {
    display: flex;
    flex-direction: column;
  }

  .value .value-cards .card {
    background-color: #c2c2c2;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .value .value-cards .card .card-content {
    /* margin: auto; */
    padding: 40px;
  }

  .value .value-cards .card .card-content strong {
    display: block;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .value .value-cards .card .card-content p {
    font-size: 14px;
    line-height: 20px;
  }

  /* ------------- photo -------------- */
  .photo-full {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 100px;
  }

  .photo .photo-container {
  }

  .photo .photo-container,
  .photo .my-slider,
  .photo .my-slider img {
    width: 100%;
    height: auto;
  }

  .photo .slider-left,
  .photo .slider-right {
    background-color: rgba(255, 255, 255, 0.2);
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
  }

  .photo .slider-left img {
    transform: scale(100%);
  }

  .photo .slider-right img {
    transform: scale(100%) rotate(180deg);
  }

  /* -------- footer -------- */
  .footer {
    font-size: 12px;
  }

  .footer a {
    text-decoration: none;
    color: #000;
  }

  .header .menu a:hover,
  .footer a:hover {
    color: #000;
    text-shadow: none;
  }

  .contact-buttons {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
  }

  .sm {
    display: block;
  }

  .lg {
    display: none;
  }
}
